<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.header {
  background-color: #f1f1f1;
  padding: 0.2px;
  text-align: center;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-fluid {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
          
        }
</style>
</head>

<div class="container-fluid">
<h3 class="bg-light py-4 text-info"><center><i class="fas fa-plus-circle"></i>Add</center></h3>
    <form action="/SocialMedia/Create" method="post">
      <div class="form-group">

    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Name..">
<br>
<br>
    <label for="url">URL:</label>

<input type="url" name="url" id="url"
       placeholder="https://example.com"
       pattern="https://.*" size="30"
       required>
<br>
<br>
    Icon:
        <input type="file" name="Icon" id="fileToUpload">
        <input type="submit" value="Upload Icon" name="submit">
<br>
<br>
Status:
        <input type="checkbox" id="Active" name="Active" value="Yes">
        <label for="Active"> Yes </label><br>
        <input type="checkbox" id="Active" name="Active" value="No">
        <label for="Active"> No </label><br>
    

     <input type="submit" value="Submit">
  </form>
</div>