@{
    Layout = "_Layout";
}

@model IEnumerable<AdminPortal.Models.CustomerModel>

<div class="row">
    <div class="col-md-12">

        <tbody>
        <h2 style="color:Tomato;"><center>ABC</center></h2>
        <style>
            table, th, td {
            border: 2px solid DodgerBlue;
            background-color: #F0F8FF;
                            }
            th, td {
            padding: 5px;
                    }
            th,td {
                text-align: center;
                }
        </style>
        <table style="width:100%">
            
            <tr>
                <th>Id</th>
                <th>ProductCategory</th>
                <th>Conditions_Allowed</th>
                <th>Approval_Required</th>
                <th>Actions</th>
            </tr>
            @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.Id</td>
                        <td>@p.ProductCategory</td>
                        <td>@p.Conditions_Allowed</td>
                        <td>@p.Approval_Required</td>
                        <td><a href="/Customer/Edit?Id=@p.Id">Edit</a>
                            <small> &nbsp; | &nbsp;</small>
                            <a href="/Customer/Delete?Id=@p.Id">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>