<body>
<html>
<div class="container">
  <h2>ABC</h2>
  <form action="/ProductCategories/Create" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" name="Name">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  </body>
</html>

input, select, radio, checkbox
{
  "Id":1,
  "Name":"A"
},
{
  "Id":1,
  "Name":"A"
},
{
  "Id":1,
  "Name":"A"
}
  