
@model AdminPortal.Models.ProductCategoriesModel;

<div class="container">
  <h2>ABC</h2>
  <form action="/ProductCategories/Delete" method="post">
    <div class="form-group">
     <input name="Id" value="@Model.Id" hidden>
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" name="Name" value="@Model.Name" hidden>
    </div>
    Delete ? Are You sure !
    <button type="submit" class="btn btn-primary">Yes, delete</button>
  </form>