@{
    Layout = "_Layout";
}

@model IEnumerable<AdminPortal.Models.ProductCategoriesModel>

<div class="row">
    <div class="col-md-12">
        <a href="/ProductCategories/Create">Create product</a>

        <h2 style="color:Tomato;"><center>Product Categories</center></h2>
        <style>
            table, th, td {
            border: 2px solid DodgerBlue;
            background-color: #F0F8FF;
                            }
            th, td {
            padding: 5px;
                    }
            th,td {
                text-align: center;
                }
        </style>
        <table style="width:100%">
            <tbody>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                @foreach (var p in Model)
                    {
                        <tr>
                            <td>@p.Id</td>
                            <td>@p.Name</td>
                            <td><a href="/ProductCategories/Edit?Id=@p.Id">edit</a>
                            <small> &nbsp; | &nbsp;</small>
                            <a href="/ProductCategories/Delete?Id=@p.Id">delete</a></td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>