@{
    Layout = "_Layout";
}

@model IEnumerable<Entities.DB.ProductModel>

<div class="container">
  <h2 style="color:Tomato;"><center>Prod</center></h2>
  
  <form class="form-inline" action="/action_page.php">
    <label for="Product Name" class="mb-2 mr-sm-2">Product Name:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="Product Name" placeholder="Enter Product Name" name="Product Name">
    <br>

    <label for="Brand_Name" class="mb-2 mr-sm-2">Brand_Name:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="Brand_Name" placeholder="Enter Brand_Name" name="Brand_Name">
    <br>

    <label for="sel2">Package Quantity</label>
      <select multiple class="form-control" id="sel2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <br>

      <div class="container">
  <h2>Size:</h2>
      <div class="checkbox">
      <label><input type="checkbox" value="">Extra Small</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Small</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Medium</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Large</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Extra Large</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">XXL</label>
    </div>
    <br>

    <div class="form-check mb-2 mr-sm-2">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="remember"> Remember me
      </label>
    </div>    
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>
</div>