@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Prod <a href="/ProductCategories/Index"> Products </a>.</p>
    <p>P <a href="/Product/Index"> Products </a>.</p>
    <p>C <a href="/Customer/Index"> Customers </a>.</p>
</div>
